# keil
*.uvguix*
*.uvopt*
Listings/
Objects/
DebugConfig/
EventRecorderStub.scvd

#system folders
System/
Start/

# batch file
*.bat

# build outputs
*.o
*.d
*.crf
*.htm
*.map
*.dep
*.axf
*.hex
*.bin
*.lnp
*.lst
*.plg

# backup file
*.bak
*.__i
*._ia
